<div>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Description</th>
                <th>Date</th>
                <th>Customer-name</th>
                <th>Done?</th>
                <th>Delete?</th>
                <th>Edit?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tasks">
                <td>{{t.taskId}}</td>
                <td>{{t.description}}</td>
                <td>{{t.date  | date:'dd-MM-yyyy' }}</td>
                <td>{{t.customerName}}</td>
                <td><label>
                    <input type="checkbox" [(ngModel)]="t.isDone">
                  </label></td>
                <td><button (click)="deleteTask(t.taskId)">Delete</button></td>
                <!-- <td><button (click)="editTask(t)">Edit</button></td> -->
                <!-- <li><a routerLink="/second-component" routerLinkActive="active"></a> -->
                <td><a routerLink="/edit">Edit</a></td>
            </tr>
        </tbody>
    </table>

</div>
